
@meta charset="utf-8";{}
html {
  overflow-y: visible;
  border-style: solid ;
  border-width: 12px;
  border-color: #F3686D;
  }

body {
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  text-align: center;
  font-family: "Arial", sans-serif;
  background-color:#E1B9BA ;
  
}
h1 {
  font-size: 12px;
}
nav#menu ul{
list-style: none;
text-transform: uppercase;
margin-bottom: 0px 0px 0px 0px;


}

nav#menu li:hover{

  background-color: white;
}
nav#menu li{
  display: inline-block;
  background-color: #F3686D;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  margin-right: 36px;
  transition: background-color 1s;
  background-position: 50px;


}
nav#menu a{
  text-decoration:none;
  color: red;
 font-size:15px;
        font-family: arial;
        text-shadow: 6px 6px 6px red ;
}

.menu {
  margin-bottom: 0px;
  display: flex;
  text-shadow: 6px 6px 6px white;
}
.menu span {
  padding: 3px 0;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  color: #fff;
  background-color: #e78080;
}
.menu span:hover {
  background: #dd2424;
}
span.menu-active {
  background: #dd2424;
}
.digits {
  margin-left: 10px;
  margin-right: 11px;
  margin-bottom: 4px;
  display: flex;
}
.digits span {
  
  padding: 2px 0;
  flex-basis: auto;
  flex-grow: 2;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  color: #fff;

}

.digits_moved_down {
  background-color: #e30707;
}
.digits_moved_up {
  background-color: #131fcf;
}
.headcol {
  margin-left: 10px;
  margin-right: 11px;
  margin-bottom: 0px;
  display: flex;
}
.headcol span {
  padding: 2px 0;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  font-size: 0px;
  border-radius: 5px;
  color: #fff;
}
.Head_moved_down {
  background-color: #e30707;
}
.Head_moved_up {
  background-color: #131fcf;
}
.Head_moved_mid {
  background-color: #00ad09;
}
.placecol {
  margin-bottom: 20px;
  display: flex;
}
.placecol span {
  padding: 2px 0;
  flex-basis: auto;
  flex-grow: 1;
  text-align: center;
  font-size: 0px;
  border-radius: 5px;
  color: #fff;
}
.Place_moved_down {
  background-color: #c03;
}
.Place_moved_up {
  background-color: #29abe2;
}
.Place_moved_none {
  background-color: #fff;
}
.chartContainer {
 margin-bottom: 15px;
  min-height: 160px;
  min-width: 160px;
   border-style: solid,red;
  border-width: 10px;
}
.chartContainerDigit {
  min-height: 130px;
  min-width: 105px;
  border-style: solid ,red;
  border-width: 10px;
}
iframe.alfajor{
width: 100%;
height: 420px;
}
::-webkit-scrollbar{
  background-color:#FBCFD0;
  width:5x;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
::-webkit-scrollbar-thumb{
  background-color: #B23E50;
  border-radius: 15px;
  padding: 1px 1px 1px 1px;
}
::-webkit-scrollbar-thumb:hover{

  background-color: white;}



